
body{

}


.center-content {
  width: 85%;
  padding: 10px;
  margin: auto;
  position: relative;
  background-color: #0000;
}

h1#header {
  width: 20em;
  font-family: Montserrat;
  text-align: center;
  margin: auto;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  color: white;
}

input[name="dest-search"] {
  width: 65%;
  height: 40px;
  background-color: #dbf0ff;
  display: inline-block;
  outline: none;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: auto;
  padding: 5px 10px;
  font-family: Lato;
  font-size: 16px;
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin: auto;
}
